body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}
header {
    background: #15166d;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    margin-top: 50px;
}
.hero {
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 4px 4px 4px#ffffff;
}
.container {
    padding: 20px;
    text-align: center;
}
.destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: rgb(0, 0, 0);
}
.destino {
    background:#ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
footer {
    background: #15166d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
.box img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    
}
.box button {
    background-color: #15166d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    
}
.box button:hover {
    background-color:  #15166d;
   }
   
nav {
    display: flex;
    justify-content: center;
    gap: 100px;
}
nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
}
nav a:hover {
    text-decoration: underline;
    color: rgb(58, 72, 227);
}

.image-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.imagem {
    width: 250px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    color: #ff0000;
    justify-self: center;
    margin-left: 55px;
    box-shadow: #333;
    border-radius: 10px;

}

.imagem:hover {
    transform: scale(1.1); 
}
.texto {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}


/* Estilo para o texto exibido */
.texto {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #15166d;
    border-radius: 12px;
    box-shadow: 0 4px 10px #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    transition: all 0.3s ease;
}


.texto p:first-child {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #ffffff;
}

@media (max-width: 600px) {
    .texto {
        padding: 15px;
        font-size: 16px;
    }

    .texto p:first-child {
        font-size: 20px;
    }
}
.saibamais{
    justify-self: center;
}



